
services:

  frontend:
    build: ./frontend
    container_name: rag_frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
  
    depends_on:
      - backend
    restart: unless-stopped  
  
  backend:
    build: ./backend
    container_name: rag_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    depends_on:
      - qdrant
      - valkey
    restart: unless-stopped
    # Uncomment below if IPv4 fix still fails (container will use host network like "running without Docker"):
    # network_mode: host


  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    restart: unless-stopped
  
  valkey:
    image: valkey/valkey:latest
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  qdrant_storage:


