
services:

  frontend:
    build: ./frontend
    container_name: rag_frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    environment:
      BACKEND_URL: http://backend:8000
    depends_on:
      - backend
    restart: unless-stopped  
  
  backend:
    build: ./backend
    container_name: rag_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      QDRANT_URL: http://qdrant:6333
    volumes:
      - ./backend:/app
    depends_on:
      - qdrant
      - valkey
    restart: unless-stopped

  celery_worker:
    build: ./backend
    container_name: rag_celery_worker
    env_file:
      - ./backend/.env
    environment:
      QDRANT_URL: http://qdrant:6333
      CELERY_BROKER_URL: redis://valkey:6379/0
    volumes:
      - ./backend:/app
    command: celery -A rag.worker.celery_app worker -l info
    depends_on:
      - backend
      - qdrant
      - valkey
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    volumes:
      - qdrant_storage:/qdrant/storage
    restart: unless-stopped

  valkey:
    image: valkey/valkey:latest


volumes:
  qdrant_storage:


